*{
  margin: 0;
  padding: 0;
}




nav {
  background:#ff8800;
  width: 100%;
  height: 55px;
justify-content: space-between;
font-size: 23px;
font-family: serif;
z-index: 1;
}


.menu ul li {
  display: inline-block;
  font-size: 25px;
  padding: 0 10px;

 color:red;
display: inline block;
  text-align: center;
line-height: 55px;
text-decoration: none;
font-size: 18px;
font-family:Arial, Helvetica, sans-serif


}
.menu ul li a{
  color: white;
  text-decoration: none;
  /* padding-left: 150px; */
  position: relative;
  left: 300px;

}

.menu ul li a:hover{
background: white; 
color: blue;
text-decoration: underline black;
font-size: 25px;
font-style:italic;
}


.banner{
  background: url(https://bestschool.net.in/templates/purity_iii/images/bg.jpg);
  width: 100%;
  height: 500px;
  position: relative;
  background-position: center;

}
.banner h2{
  text-align: center;
   padding-top: 150px; 
  color: white;
  font-size: 42px;
  text-shadow: 2px 5px #222;
  width: auto;
  margin-bottom: 15px;
  font-family: serif;
  font-weight: 500;
}
.banner h2:hover{
color: fuchsia;
  font-size: 50px; 
}



.banner h4{
  text-align: center;
  color: white;
  font-size: 20px;
  width: auto;
 font-weight: 100;
}
.search{
  padding-top: 7px;
  padding-left: 550px;
}
.search input{
  width: 544px;
  height: 35px;
  font-size: 16px;
  background:#689265;
  border: none;
  padding-left: 30px;
  border-radius: 5px;
}
::placeholder{
  font-size: 16px;
  padding: 0 18px;
  color:white;
}
.search input:hover{
background:darkblue;
}



.school h4 {
  text-align: center;
  color:teal;
  font-size: 42px;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.15;

}
.school h4:hover{

color: blue;
/* background: darkorange;  */
font-size: 50px;
}


.school h5{
  text-align: center;
  color: #444444;
  font-size: 20px;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.15;
  margin-top: 20px;
}
.school h5:hover{
color: tomato;
font-size: 33px;
}  


.Mumbai {
  background: url(https://bestschool.net.in/images/top_schools_of_Mumbai.png);
  width: 30%;
  height: 300px;
   float: left; 
  margin: 20px;
  border:  5px solid #ff8800;
}


.Mumbai h4{
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 260px;
  font-weight: 500;
}
/* .Mumbai h4:hover{
color: #ff8800;
font-size: 40px;
} */



.Chennai{
  background: url(https://bestschool.net.in/images/top_schools_of_Chennai.png);
  width: 30%;
  height: 300px; 
  float: left;
  margin: 20px;
  border:  5px solid #ff8800;
}
.Chennai h4 {
color: white;
font-size: 25px;
text-align: center;
margin-top: 270px;
font-weight: 500;
}

.Bangalore{
  background: url(https://bestschool.net.in/images/top_schools_of_Bangalore.png);
  width: 30%;
  height: 300px; 
  float: left;
  margin: 20px;
  border:  5px solid #ff8800;
}
.Bangalore h4{
  color:white;
  font-size: 25px;
  text-align: center;
  margin-top: 270px;
  font-weight: 500;

}



.Delhi{

  background: url(https://bestschool.net.in/images/top_schools_of_Delhi-NCR.png);
    width: 30%;
  
    height: 300px; 
    float: left;
    margin: 20px;
    border:  5px solid #ff8800;
  }
  .Delhi h4{
    color:white;
    font-size: 25px;
    text-align: center;
    margin-top: 270px;
    font-weight: 500;

  }

  .Hyderabad {

      background: url(https://bestschool.net.in/images/top_schools_of_Hyderabad.png);
        width: 30%;
      
        height: 300px; 
        float: left;
        margin: 20px;
        border:  5px solid #ff8800;
      }
.Hyderabad h4{
        color:white;
        font-size: 25px;
        text-align: center;
        margin-top: 270px;
        font-weight: 500;
    
      }

.Kolkata {

     background: url(https://bestschool.net.in/images/top_schools_of_Kolkata.png);
    width: 30%; 
     height: 300px;    
    float: left;
    margin: 20px;
    border:  5px solid #ff8800;
          }
.Kolkata h4{
    color:white;
    font-size: 25px;
    text-align: center;
     margin-top: 270px;
     font-weight: 500;
        
}


.Kolkata {
        background: url(https://bestschool.net.in/images/top_schools_of_Kolkata.png);
        width: 30%; 
        height: 300px; 
        float: left;
        margin: 20px;
         border:  5px solid #ff8800;
         }
.Kolkata h4{
        color:white;
        font-size: 25px;
         text-align: center;
         margin-top: 270px;
        font-weight: 500;   
     }

.Pune {  
         background: url(https://bestschool.net.in/images/top_schools_of_Pune.png);
           width: 30%; 
          height: 300px; 
          float: left;
          margin: 20px;
          border:  5px solid #ff8800;
           }
           
.Pune h4{
    color:white;
    font-size: 25px;
     text-align: center;
     margin-top: 270px;
     font-weight: 500;   
       }


.Lucknow {  
          background: url(https://bestschool.net.in/images/top_schools_of_Lucknow.png);
            width: 30%; 
           height: 300px; 
           float: left;
           margin: 20px;
           border:  5px solid #ff8800;
            }
            
.Lucknow h4{
     color:white;
     font-size: 25px;
      text-align: center;
      margin-top: 270px;
      font-weight: 500;   
        }





.Ahmedabad{  
          background: url(https://bestschool.net.in/images/top_schools_of_Ahmedabad.png);
            width: 30%; 
           height: 300px; 
           float: left;
           margin: 20px;
           border:  5px solid #ff8800;
            }
            
.Ahmedabad h4{
     color:white;
     font-size: 25px;
      text-align: center;
      margin-top: 270px;
      font-weight: 500;   
        }




.Jaipur{  
          background: url(https://bestschool.net.in/images/top_schools_of_Jaipur.png);
            width: 30%; 
           height: 300px; 
           float: left;
           margin: 20px;
           border:  5px solid #ff8800;
            }
            
.Jaipur h4{
     color:white; 
     font-size: 25px;
      text-align: center;
      margin-top: 270px;
      font-weight: 500;   
        }



.Dehradun{  
          background: url(https://bestschool.net.in/images/top_schools_of_Dehradun.png);
            width: 30%; 
           height: 300px; 
           float: left;
           margin: 20px;
           border:  5px solid #ff8800;
            }
            
.Dehradun h4{
     color:white; 
     font-size: 25px;
      text-align: center;
      margin-top: 270px;
      font-weight: 500;   
        }




.Surat{  
          background: url(https://bestschool.net.in/images/top_schools_of_Surat.png);
            width: 30%; 
           height: 300px; 
           float: left;
           margin: 20px;
           border:  5px solid #ff8800;
 }
            


.Surat h4{
     color:white; 
     font-size: 25px;
      text-align: center;
      margin-top: 270px;
      font-weight: 500;   
        }

.city {

  text-align: center;
 position: relative;
 top: 70px;
}



.city a{

  background: orangered;
  padding: 10px 20px ;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.city a:hover{
background: teal;
color: black;
font-size: 35px;
}


footer{
background:wheat;
/* background: rgb(109, 159, 235); */
  height: 200px;
  width: 100%;
  text-align: center;
  word-spacing: 4px;
  font-size: 25px;
  font-family: serif;
  font-weight: 500;
  position: relative;
  top: 200px;
  padding-top: 100px;

}
.rawat{
color:red;
background: yellow;
}
.rawat:hover{
  color:white ;
  background: black;
}